@model UserMyTravelsVM[]

@*@foreach (var item in Model)
{
    <li>@item.TreeCount</li>
}
<p>@Model.Length</p>*@

@for (int i = 0; i < Model.Length; i++)
{
    <li>Transport: @Model[i].Transport</li>
    <li>Emissioner: @Model[i].Co2</li>
    <li>IdNummer: @Model[i].Id</li>
    <li>Datum: @Model[i].Date</li>
    <li>Antal träd: @Model[i].TreeCount</li>
    <li>Längd: @Model[i].Distance</li>
    <li>Från: @Model[i].FromAddress</li>
    <li>Till: @Model[i].ToAddress</li>
    <li>Användar id: @Model[i].UserId</li>
    <br />
} 



